{% extends "example_layout.html" %}
{% block pageheader %}Home{% endblock %}
{% block body %}
    <p>This is the homepage of the example app.</p>
    <p>Check out the <a href="{{ url_for('catchall.serve_page', path='examples') }}">example pages</a>.</p>
    <p>URL for a JobMonitor static asset is <code>{{ url_for('.static', filename='stylesheets/example.css') }}</code></p>
    <p>URL for a derivative static asset is <code>{{ url_for('example.static', filename='stylesheets/example.css') }}</code></p>
{% endblock %}
