{#
  Define a layout extending the two column one provided by jobmonitor.
  We include our app-specific CSS and JS here, and add some navigation.
#}
{% extends "two_column_sidebar.html" %}
{% block stylesheets %}
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  {{ stylesheet_tag('velo_monitor', blueprint='velo_monitor') }}
{% endblock %}
{% block navtopbar %}
    {{ list_link_tag('velo_view', 'VELO view') }}
    {{ list_link_tag('sensor_view', 'Sensor view') }}
    {{ list_link_tag(url_for('run_view.run_view_builder'), 'Run view') }}
    {{ list_link_tag('tell1_view', 'TELL1 view') }}
    {{ list_link_tag('special_analyses', 'Special analyses') }}
{% endblock %}
{% block javascripts %}
  <script>
    // Enable JS debug mode if the app's in enabled
    JobMonitor.settings.debug = {{ 'true' if config.DEBUG else 'false' }};
  </script>
  {{ javascript_tag('lib/string-format', blueprint='velo_monitor') }}
  {{ javascript_tag('lib/lz-string.min', blueprint='velo_monitor') }}
  {{ javascript_tag('lib/html.sortable.min', blueprint='velo_monitor') }}
  {{ javascript_tag('job_cache', blueprint='velo_monitor') }}
  {{ javascript_tag('velo_plotter', blueprint='velo_monitor') }}
  {{ javascript_tag('velo_monitor', blueprint='velo_monitor') }}
{% endblock %}
