<div class="run-range-form">
  <div class="row">
    <div class="col-sm-2">
      <p><strong>Run range</strong></p>
    </div>
    <div class="col-sm-10">
      <form class="form-inline" role="form">
        <div class="row">
          <div class="col-sm-8">
            <div class="input-daterange input-group">
              <label class="sr-only" for="start-date">Run range start</label>
              <input type="text" class="input-sm form-control" name="start-date" placeholder="Start">
              <span class="input-group-addon">to</span>
              <label class="sr-only" for="end-date">Run range end</label>
              <input type="text" class="input-sm form-control" name="end-date" placeholder="End">
            </div>
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-block btn-sm btn-info">Inspect</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
