body {
  color: #2c3e50;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* @group Navigation bar */

.navbar {
  letter-spacing: -0.1px;
}

/* @endgroup Navigation bar */

/* @group Sidebar */
sidebar h1 {
  font-size: 1.2em;
}

sidebar .run-number {
  margin: -2px 0 0 0;
  padding: 10px 10px 15px 10px;
  border-bottom: 1px solid #eee;
  font-weight: 700;
}

@media only screen and (min-width : 768px) {
  sidebar .run-number {
    margin: -20px -20px 0 -20px;
    padding: 20px;
  }
}

sidebar .run-number:hover {
  background: #eee;
}

sidebar .run-number > a {
  color: #333;
}

sidebar .run-number small {
  padding-top: 6px;
}

sidebar .sensor-detail {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* @endgroup Sidebar */

/* @group Main content */

.main {
  /* Align the border-bottom of an h1.page-content with the run selector */
  padding-top: 10px;
}

/* @endgroup Main content */

/* Insert a thin space before units of measurement */
.unit:before {
  content: " ";
}

.run-view-pane h1 {
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 1.2em;
}

.run-view-pane .plot {
  height: 400px;
}

.Histogram2D .tile,
.zscale-box,
.TextBox rect {
  shape-rendering: crispEdges;
}

.zscale-box {
  stroke: #000;
}

.velo-layout {
  /* Center VELO layout buttons inside their container */
  text-align: center;
}

.plotables {
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.plotables li {
  margin: 10px 0;
  padding: 10px;
  border-left: 3px solid #ccc;
  background: #fafafa;
}

.plotables li[draggable=true] {
  cursor: move;
}

.plotables li:hover {
  background: #f5f5f5;
}

.plotables .plotable-toggle {
  cursor: pointer;
}

.sensor-selector {
  margin: 10px 0;
  text-align: center;
}

.sensor-selector .input-group {
  width: 100%;
  margin: 10px;
}

.sensor-selector .previous, .sensor-selector .next {
  width: 100%;
}

@media only screen and (min-width : 768px) {
  .sensor-selector .input-group {
    width: auto;
  }
}

@media only screen and (min-width : 992px) {
  .sensor-selector .previous, .sensor-selector .next {
    width: auto;
  }
}

/* Hint that the statistics boxes are draggable */
.TextBox {
  cursor: move;
}
