<style type="text/css">
<!--//

.betastuff { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none }
.bodylink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #666633; text-decoration: underline }
.bodylinkitali {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; line-height: 14px; color: #666633; text-decoration: underline }
.bodycopy { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #000000 ; text-decoration: none }
.boldbodycopy { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: bold; line-height: 14px; font-weight: 700; color: #000000 ; text-decoration: none }
.italicbodycopy { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; line-height: 14px; color: #000000 ; text-decoration: none }
.ITALICiBodycopy { font-family: Times New Roman,Times, serif; font-size: 12px; font-style: italic; line-height: 14px; color: #000000 ; text-decoration: none }
.bulletbodycopy { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #000000 ; text-decoration: none }
.gsrnavlinkb { font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 17px; font-weight: bold; color: #336699; text-decoration: underline } 
.gsrnavlinky { font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 17px; font-weight: bold; color: #CCCC99; text-decoration: underline } 
.otherfeatnews { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; text-decoration: none }
.icontext {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none}
.countries {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-align: center}
.legalese {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000}
.navhead { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 17px; font-weight: 700; color: #000000 ; text-decoration: none }
.navlink { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #000000 ; text-decoration: none }
.fullstory {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #336699; text-decoration: underline; line-height: 100% }
.parahead1 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 17px; font-weight: 700; color: #000000 ; text-decoration: none }
.parahead1Itali { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: italic; line-height: 17px; font-weight: 700; color: #000000 ; text-decoration: none }
.parahead2 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 17px; font-weight: 700; color: #336699; text-decoration: none }
.parahead2Itali { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: italic; line-height: 17px; font-weight: 700; color: #336699; text-decoration: none }
.tablink { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none }
.topstoryItali { font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-style: italic; line-height: 19px; color: #000000 ; text-decoration: none }
.topstoryhead { font-family: Arial, Helvetica, sans-serif; font-size: 17px; line-height: 19px; color: #000000; font-weight: 700; text-decoration: none }
UL {list-style: square outside}

.BODY {font-family : Arial, Helvetica, Sans-Serif;}
.SUBTITLES {  font-family: Arial, Helvetica, sans-serif; font-size: 110%; font-style: normal; font-weight: bolder; color: #336699;}
.REDTITLES {  font-family: Arial, Helvetica, sans-serif; font-size: 180%; font-style: normal; font-weight: bolder; color: #000000;}
.GREYTITLES {  font-family: Arial, Helvetica, sans-serif; font-size: 180%; font-style: normal; font-weight: bolder; color: #336699;}
.REDSUBTITLES {  font-family: Arial, Helvetica, sans-serif; font-size: 110%; font-style: normal; font-weight: bolder; color: #000000;}
.topNavItem {font-family : Arial, Helvetica, Sans-serif; font-size : 12px; font-weight : bold; color : black; text-decoration : none; visited : black;}
.portletTitle {font-family : Arial, Helvetica, Sans-serif; font-size : 10pt; font-weight : 700; color : white; text-decoration : none;}

.SearchRowItem { COLOR: black;font-weight: normal;FONT-FAMILY: Arial, Helvetica, sans-serif;FONT-SIZE: 60%;TEXT-DECORATION: none }
.OffTab { COLOR: black;FONT-FAMILY: Arial, Helvetica, sans-serif;FONT-SIZE: 12pt;TEXT-DECORATION: none }
.OnTab { COLOR: white;font-weight: bold;FONT-FAMILY: Arial, Helvetica, sans-serif;FONT-SIZE: 12pt;TEXT-DECORATION: none }
.Crumb { COLOR: white;font-weight: lighter;FONT-FAMILY: Arial, Helvetica, sans-serif;FONT-SIZE: 8pt;TEXT-DECORATION: none }
.Welcome  { COLOR: white;font-weight: bold;FONT-FAMILY: Arial, Helvetica, sans-serif;FONT-SIZE: 9pt;TEXT-DECORATION: none }
.WelcomeOption { font-family: Arial, Helvetica;font-size: 8pt;color: #336699;font-weight: bold; }

.TOPNAVIGATION  { font-family: Arial, Helvetica, Sans-serif; font-size: 150%; font-weight: bold; color: black; text-decoration: none; visited: black;}
.BOTTOMNAVIGATION  { font-family: Arial, Helvetica, Sans-serif; font-size: 12px; font-weight: bold; color: black; text-decoration: none; visited: black;}
.TITLES         { font-family: Arial, Helvetica, sans-serif; font-size: 180%; font-style: normal; font-weight: bolder; color: #000000;}
.TableTrailer   {  font-family: Arial, Helvetica, sans-serif; font-size: 110%; font-style: normal; font-weight: bolder; color: #336699;}
.TableDescription {font-family : Arial, Helvetica, Sans-Serif; font-weight: bold; color: white; text-decoration: none;}
.bullets { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; font-weight: bold; color: #336699; text-decoration: none }
.redbullets { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; font-weight: bold; color: red; text-decoration: none }
.largebullets { font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 14px; font-weight: bold; color: #336699; text-decoration: none }
.whitebullets { font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 14px; font-weight: bold; color: #FFFFFF; text-decoration: none }
.textarea { font-size: 8pt; font-family: 'Trebuchet MS', Arial, Helvetica; font-style:normal; border-style: solid } 
.preform { font size: 12pt; font-family: 'Trebuchet MS', Arial, Helvetica; font-style:normal; border-style: solid } 
.fixedText12pt { font size: 12pt; font-family: 'Trebuchet MS', Arial, Helvetica; font-style:normal; } 
//-->
</STYLE>*
