<style type="text/css">
<!--//
	body  {
	font : normal 20px Arial,Geneva,Helvetica,sans-serif;
	line-height : 16px;
	color : Black;
}

.right  {
	font : normal 20px Arial,Geneva,Helvetica,sans-serif;
	line-height : 13px;
}

a  {
	text-decoration : none;
	color : Black;
}

a.nav  {
	font : normal 20px Arial,Geneva,Helvetica,sans-serif;
	text-decoration : none;
	color : Black;
}

.headline    		  {font-family:Arial,Geneva,Helvetica,sans-serif;color:#FF0000;font-size:110%;font-weight:normal;}
.subHeadline 		  {font-family:Arial,Geneva,Helvetica,sans-serif;color:#000000;font-size:100%;font-weight:bold; text-align:left}
.text       {
	topmargin : 0px;
	font-size : 100%;
	font-family : Arial,Geneva,Helvetica,sans-serif;
	line-height : 20px;
	color : 101010;
	text-align :justify;
}
//-->
</STYLE>*
