#!/usr/bin/env python

import os
from tempfile import mkdtemp, mkstemp
try:
    from base64 import standard_b64decode as decode
except ImportError:
    from base64 import decode

if __name__ == '__main__':
    pass



_sef_script = "%(script)s"
_sef_tarball = "%(tarball)s"



