#!/usr/bin/env python
""" template for a self extracting script
This file must not depend on other private python modules. It should rely only
on a vanilla python 2.4.
"""

import os
from tempfile import mkdtemp, mkstemp
try:
    from base64 import standard_b64decode as decode
except ImportError:
    from base64 import decode

if __name__ == '__main__':
    pass



_sef_script = "%(script)s"
_sef_tarball = "%(tarball)s"



