#!/usr/bin/env python
""" template for a self extracting script
This file must not depend on other private python modules. It should rely only
on a vanilla python 2.4.
"""

import os
from tempfile import mkdtemp, mkstemp
try:
    from base64 import standard_b64decode as decode
except ImportError:
    from base64 import decode

if __name__ == '__main__':
    pass


_sef_description = "%(description)s"
_sef_version = "%(version)s"
_sef_update_url = "%(update_url)s"
_sef_script = "%(script)s"
_sef_compression_type = "%(compression_type)s"
_sef_target_dir = "%(target_dir)"
_sef_tarball = "%(tarball)s"
_sef_use_temp = "%(use_temp)s"




