/* <style type="text/css"> */

/*   FSM states a la JCOP */

.FwDEAD   {
    color: #000000;
    background-color:#CCCCCC;
    font-family:  Arial, Helvetica, sans-serif;
    font-size:    90%;
    font-weight:  bold;
    line-height:  100%;
    border:       dotted;
    border-width: 1px;
    text-decoration: none;
    width:        135px;
}

.FwStateAttention1
{
    color: #000000;
    background-color:#F1F166;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    line-height: 100%;
    border: dotted;
    border-width:1px;
    text-decoration: none;
    width:        135px;
}
.FwStateAttention2
{
    color: #000000;
    background-color:#FF9900;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 90%;
    line-height: 100%;
    border: dotted;
    border-width:1px;
    text-decoration: none;
    width:        135px;
}
.FwStateAttention3
{
    color: #000000;
    background-color:#FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    line-height: 100%;
    border: dotted;
    border-width:1px;
    text-decoration: none;
    width:        135px;
}
.FwStateOKNotPhysics
{
    color: #000000;
    background-color:#0099FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    line-height:     100%;
    border:          dotted;
    border-width:    1px;
    text-decoration: none;
    width:           135px;
}
.FwStateOKPhysics    {
    color:           #000000;
    background-color:#00CC99;
    font-family:     Arial, Helvetica, sans-serif;
    font-size:       90%;
    font-weight:     bold;
    line-height:     100%;
    border:          dotted;
    border-width:    1px;
    text-decoration: none;
    width:           135px;
}
.FwLock  {
    color:           #000000;
    background-color:#DDDDDD;
    font-family:     Arial, Helvetica, sans-serif;
    font-size:       90%;
    font-weight:     bold;
    line-height:     90%;
    width:           12px;
    border:          dotted;
    border-width:    1px;
    text-decoration: none
}

/* </STYLE>  */
