/* <style type="text/css"> */

/*   FSM states a la JCOP */

.FwDEAD   {
    color:              black;
    background-color:   #CCCCCC;
    line-height:        100%;
    text-decoration:    none;
    width:              135px;
    font:               bold 90% Arial,Helvetica,sans-serif;
    border:             solid 1px black;
}

.FwStateAttention1  {
    color:           black;
    background-color:#F1F166;
    line-height:     100%;
    text-decoration: none;
    width:           135px;
    font:            bold 90% Arial,Helvetica,sans-serif;
    border:          dotted 1px black;
}
.FwStateAttention2  {
    color:           black;
    background-color:#FF9900;
    line-height:     100%;
    text-decoration: none;
    width:           135px;
    font:            bold 90% Arial,Helvetica,sans-serif;
    border:          dotted 1px black;
}
.FwStateAttention3   {
    color:           black;
    background-color:#FF0000;
    line-height:     100%;
    text-decoration: none;
    width:           135px;
    font:            bold 90% Arial,Helvetica,sans-serif;
    border:          dotted 1px black;
}
.FwStateOKNotPhysics   {
    color:           black;
    background-color:#0099FF;
    line-height:     100%;
    text-decoration: none;
    width:           135px;
    font:            bold 90% Arial,Helvetica,sans-serif;
    border:          dotted 1px black;
}
.FwStateOKPhysics    {
    color:           black;
    background-color:#00CC99;
    line-height:     100%;
    text-decoration: none;
    width:           135px;
    font:            bold 90% Arial,Helvetica,sans-serif;
    border:          dotted 1px black;
}
.FwLock  {
    color:           black;
    background-color:#DDDDDD;
    line-height:     90%;
    width:           12px;
    text-decoration: none;
    font:            bold 90% Arial,Helvetica,sans-serif;
    border:          dotted 1px black;
}

/* </STYLE>  */
