/* <style type="text/css"> */

/***********************************************************************************/
/*                                                                                 */
/* The 3 main widgets of the RunStatus display: envelope, status and logger window */
/*                                                                                 */
/***********************************************************************************/
.RunStatus  {
    width:            820px;
    background-color: #CCCCCC;
    color:            #000000;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
    text-align:       center;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        16px;
    font-weight:      bold;
}

.RunStatusPanel  {
    background-color: #CCCCCC;
    width:            810px;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
    text-align:       center;
}

.RunStatusLogger   {
    background-color: #EEEEEE;
    overflow-x:       scroll;
    overflow-y:       scroll;
    width:            802px;
    height:           250px;
    border:           solid;
    border-width:     1px;
    text-align:       left;
}

.RunStatusHeader  {
    color:            #000000;
    background-color: #CCCCCC;
    text-align:       center;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        20px;
    font-weight:      bold;
    text-decoration:  none;
    text-align:       center;
}

/* The 3 main widgets of the FSM display: envelope, status and logger window */
.FSMFrame   {
    background-color: #CCCCCC;
    width:            2000px;
    height:           1200px;
}

.FSMStatus  {
    width:            550px;
    background-color: #CCCCCC;
    color:            #000000;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
    text-align:       center;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        12px;
    font-weight:      bold;
}

.FSMStatusPanel    {
    color:            #000000;
    background-color: #CCCCCC;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
    width:            550px;
}

.FSMStatusLogger   {
    background-color: #EEEEEE;
    overflow-x:       scroll;
    overflow-y:       scroll;
    width:            544px;
    height:           250px;
    border:           solid;
    border-width:     1px;
    text-align:       left;
}

/* The stuff inside the FSM tables: labels, states and locks 
     FSM status from above

+---------- FSMTable ----------+
| FSMLabel         FSMStatus   |
| FSMLabel         FSMStatus   |
| ....             ....        |
+------------------------------+

and

StatusText:
+------------- FSMTable --------------+
| FSMLabel     FSMLabel    ....       |
| FSMStatus    FSMStatus   ....       |
+-------------------------------------+


*/
.FSMTable	{
    color:            #000000;
    background-color: #CCCCCC;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
    border-spacing:   2px;
    text-align:       center;
    width:            100%;
    height:           0%;
}

.FSMLabel	{
    color:            #000000;
    background-color: #BBBBBB;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        12px;
    font-weight:      bold;
    line-height:      12px;
    text-decoration:  none;
    text-align:       left;
    border:           solid;
    border-width:     0px;
    width:            135px;
}

.FSMLabelHorizontal	{
    color:            #000000;
    background-color: #BBBBBB;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        12px;
    font-weight:      bold;
    line-height:      12px;
    text-decoration:  none;
    text-align:       left;
    border:           solid;
    border-width:     0px;
    width:            135px;
}

.FSMSpacer	{
    font-size:        8px;
    font-weight:      bold;
    line-height:      8px;
    text-decoration:  none;
    border:           none;
}


/*=================================================================================

       Property table layout

=================================================================================*/

.PropertyTable	{
    color:            #000000;
    background-color: #CCCCCC;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
}

.PropertyTableItem  {
    color:            #000000;
    background-color: #DDDDDD;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        12px;
    font-weight:      bold;
    line-height:      16px;
    height:           16px;
    border:           none;
    border-width:     0px;
    text-decoration:  none
}

.PropertyTableValue	{
    color:            #000000;
    background-color: #FFFFFF;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        12px;
    line-height:      16px;
    height:           16px;
    border:           none;
    border-width:     0px;
    text-decoration:  none
}

.PropertyTableSpacer	{
    color:            #000000;
    background-color: #DDDDDD;
    line-height:      4px;
    border:           none;
    border-width:     0px;
}

/* </STYLE>  */
