{% extends "run_view/layout.html" %}
{% block pageheader %}{{ g.page_data.title }}{% endblock %}
{% block run_view_body %}
  {# Show flash messages, for which we only have 'error' types, so show them red #}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {# One tab per histogram #}
  <ul class="nav nav-tabs nav-justified" role="tablist">
    {% for plot in g.page_data.plots %}
      {# Sanitise plot.name in to a valid URL hash value, as valid ROOT key names can contain invalid URL hash characters #}
      <li class="run-view-tab"><a href="#{{ plot.name | sanitise }}" role="tab" data-toggle="tab">{{ plot.short or plot.title }}</a></li>
    {% endfor %}
  </ul>
  {# One pane per histogram #}
  <div class="tab-content">
    {% for plot in g.page_data.plots %}
      {% include "_plot.html" %}
    {% endfor %}
  </div>

  {% include "_sensor_selector.html" %}

  {# datalist for possible sensor numbers, used for autocompletion in the sensor selection form #}
  {# Kept outside the plots loop else we'll have duplicate IDs #}
  {# TODO polyfill this, not supported by Safari and IE < 10 #}
  <datalist id="sensors">
    {% for rsensor in range(0, 42) %}
      <option value="{{ rsensor }}">R sensor</option>
    {% endfor %}
    {% for phisensor in range(64, 106) %}
      <option value="{{ phisensor }}">Φ sensor</option>
    {% endfor %}
  </datalist>
{% endblock %}
