{% extends "run_view/layout.html" %}
{% block pageheader %}{{ g.page_data.title }}{% endblock %}
{% block run_view_body %}
  {# Show flash messages, for which we only have 'error' types, so show them red #}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {#
    If a layout is specified, place each plot within its own col-sm-X div,
    where X = layout[0]/12, as there are 12 'columns' in Bootstrap. If not,
    place each plot in its own container and use a tabbed interface.
    TODO What about where the AxB > number of plots?
  #}
  {% set use_grid = 'layout' in g.page_data %}
  {% set nhorizontal = 1 if not use_grid else g.page_data.layout[0] %}

  {# One tab per histogram if no grid layout is specified #}
  {% if  not use_grid %}
    <ul class="nav nav-tabs nav-justified" role="tablist">
      {% for plot in g.page_data.plots %}
        {# Sanitise plot.name in to a valid URL hash value, as valid ROOT key names can contain invalid URL hash characters #}
        <li class="run-view-tab"><a href="#{{ plot.name | sanitise }}" role="tab" data-toggle="tab">{{ plot.short or plot.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {# One pane per histogram if no grid layout, else use a grid #}
  <div class="{% if not use_grid %}tab-content{% else %}row{% endif %}">
    {% for plot in g.page_data.plots %}
      {% if use_grid %}<div class="col-sm-{{ 12//nhorizontal }}">{% endif %}
        {% include "_plot.html" %}
      {% if use_grid %}</div>{% endif %}
    {% endfor %}
  </div>

  {% include "_sensor_selector.html" %}

  {# datalist for possible sensor numbers, used for autocompletion in the sensor selection form #}
  {# Kept outside the plots loop else we'll have duplicate IDs #}
  {# TODO polyfill this, not supported by Safari and IE < 10 #}
  <datalist id="sensors">
    {% for rsensor in range(0, 42) %}
      <option value="{{ rsensor }}">R sensor</option>
    {% endfor %}
    {% for phisensor in range(64, 106) %}
      <option value="{{ phisensor }}">Φ sensor</option>
    {% endfor %}
  </datalist>
{% endblock %}
