{# VELO layout modal, shown when the 'Show VELO layout' item is clicked #}
<div class="modal fade" id="velo-layout" tabindex="-1" role="dialog" aria-labelledBy="velo-layout-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="velo-layout-label">VELO layout</h4>
      </div>
      <div class="modal-body">
        <p>Click a sensor number in the diagram below to view plots for that sensor.</p>
        <p>The current sensor is highlighted in green.</p>
        <div class="row">
          <div class="col-md-6 velo-layout">
            <div class="btn-group-vertical">
              <button type="button" class="btn btn-info" disabled>R</button>
              {% for rsensor in range(0, 21) %}
                <button type="button" class="btn {{ 'btn-success active' if g.sensor == rsensor else 'btn-default' }}">{{ rsensor }}</button>
              {% endfor %}
              <button type="button" class="btn btn-default disabled">&hellip;</button>
            </div>
            <div class="btn-group-vertical">
              <button type="button" class="btn btn-info" disabled>Φ</button>
              {% for phisensor in range(64, 85) %}
                <button type="button" class="btn {{ 'btn-success active' if g.sensor == phisensor else 'btn-default' }}">{{ phisensor }}</button>
              {% endfor %}
              <button type="button" class="btn btn-default disabled">&hellip;</button>
            </div>
          </div>
          <div class="col-md-6 velo-layout">
            <div class="btn-group-vertical">
              <button type="button" class="btn btn-info" disabled>R</button>
              <button type="button" class="btn btn-default disabled">&hellip;</button>
              {% for rsensor in range(21, 42) %}
                <button type="button" class="btn {{ 'btn-success active' if g.sensor == rsensor else 'btn-default' }}">{{ rsensor }}</button>
              {% endfor %}
            </div>
            <div class="btn-group-vertical">
              <button type="button" class="btn btn-info" disabled>Φ</button>
              <button type="button" class="btn btn-default disabled">&hellip;</button>
              {% for phisensor in range(85, 106) %}
                <button type="button" class="btn {{ 'btn-success active' if g.sensor == phisensor else 'btn-default' }}">{{ phisensor }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
