{% extends "run_view/layout.html" %}
{% block pageheader %}{{ g.page_data.title }}{% endblock %}
{% block run_view_body %}
  {# Show flash messages, for which we only have 'error' types, so show them red #}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {#
    If a layout is specified, place each plot within its own col-sm-X div,
    where X = layout[0]/12, as there are 12 'columns' in Bootstrap. If not,
    place each plot in its own container and use a tabbed interface.
    TODO What about where the AxB > number of plots?
    TODO This is actually not supported since the introduction of 'subpages',
         where pages can have many tabs, each of which can specify a layout.
  #}
  {% set has_subpages = 'subpages' in g.page_data %}
  {% set subpages = g.page_data.subpages %}
  {% set nhorizontal = 1 %}

  {# One tab per subpage #}
  {% if subpages %}
    <ul class="nav nav-tabs nav-justified" role="tablist">
      {% for subpage in subpages %}
        {# Sanitise subplot.title in to a valid URL hash value #}
        <li class="run-view-tab"><a href="#{{ subpage.title | sanitise }}" role="tab" data-toggle="tab">{{ subpage.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if subpages %}
    <div class="tab-content">
      {% for subpage in subpages %}
        <div class="tab-pane run-view-pane" id="{{ subpage.title | sanitise }}">
        {% for plot in subpage.plots %}
          {% if use_grid %}<div class="col-sm-{{ 12//nhorizontal }}">{% endif %}
            {% include "_plot.html" %}
          {% if use_grid %}</div>{% endif %}
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    {% for plot in g.page_data.plots %}
      {% if use_grid %}<div class="col-sm-{{ 12//nhorizontal }}">{% endif %}
        {% include "_plot.html" %}
      {% if use_grid %}</div>{% endif %}
    {% endfor %}
  {% endif %}

  {% include "_sensor_selector.html" %}

  {# datalist for possible sensor numbers, used for autocompletion in the sensor selection form #}
  {# Kept outside the plots loop else we'll have duplicate IDs #}
  {# TODO polyfill this, not supported by Safari and IE < 10 #}
  <datalist id="sensors">
    {% for rsensor in range(0, 42) %}
      <option value="{{ rsensor }}">R sensor</option>
    {% endfor %}
    {% for phisensor in range(64, 106) %}
      <option value="{{ phisensor }}">Φ sensor</option>
    {% endfor %}
  </datalist>
{% endblock %}
